span © #{ new Date().getFullYear() } {{tenantSettings.settings.name}}

a(ui-sref="inprint") Inprint
a(ui-sref="policy") Policy
a(ui-sref="terms") Terms

a(
  ng-href="{{tenantSettings.sociallinks.instagram}}"
  ng-show="tenantSettings.sociallinks.instagram"
  target="_blank").fa.fa-instagram
a(
  ng-href="{{tenantSettings.sociallinks.facebook}}"
  ng-show="tenantSettings.sociallinks.facebook"
  target="_blank").fa.fa-facebook
a(
  ng-href="{{tenantSettings.sociallinks.twitter}}"
  ng-show="tenantSettings.sociallinks.twitter"
  target="_blank").fa.fa-twitter

a(
  ng-href="{{tenantSettings.sociallinks.tumblr}}"
  ng-show="tenantSettings.sociallinks.tumblr"
  target="_blank").fa.fa-tumblr


